.Registration{
    text-align: center;
    border: 1px solid black;
    width: 30%;
    margin: 0 auto;
}
.ruser, .rpass, .rconfirm{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    padding: 0 15%;
}
#user, #pass, #confirm{
    width: 100%;
    margin: 1%
}
.label,.require{
    text-align: left;
    padding: 1% ;
}
.require{
    
    color: red
}
.Register{
    text-align: left;
    padding: 5% 15%;
    margin: 1%;
}
button{
    background: #dc68ff;
    color: white;
    border-style: none;
    padding: 3%;
    cursor: pointer;
}