/* General setup */
@font-face {
  font-family: myFont;
  src: url('./fonts/josefinslab-bold-webfont.ttf');
}
@font-face {
  font-family: myFont1;
  src: url('./fonts/Lovato-Light-webfont.ttf');
}
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 10px;
}

/* Layout */

section {
  float: left;
  width: 50%;
  
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
  
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
h1,h2{
  font-family: myFont;
  font-size: 2rem;
}
p,li{
  font-size: 1.05rem;
  letter-spacing: 1px;
}
h2+p{
  text-indent: 20px;
}
header{
  text-align: center;
}
a{
  color: #a66;
  outline-style: none;
  
}
section p a:hover, section p a:actived{
  text-decoration: none;
}
aside ul li{
  list-style-type: square;
}
nav ul li{
  list-style-type: none;
  border: #5b5b5b solid 1px;
  padding: 20px 10px ;
  text-align: center;
  display: block;
  margin: 20px 10px;
}
nav ul li a{
  text-decoration: none;
  background-color: #fff;
  
  
}